<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery Hub</title>
</head>

<body>
    <nav class="navbar navbar-dark black justify-content-between">
        <a class="navbar-brand text-danger" style="font-size: 40px;font-family: Arial, Helvetica, sans-serif; font-style: italic; " href="{% url 'pictures' %}"><b><i>Gallary Hub</i></b></a>
        <form class="form-inline my-1" role = "search" action="{% url 'search_results'%}">
            <div class="md-form form-sm my-0">
                <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Enter category e.g food,classic,fancy & elegant" name="category"
                    aria-label="Search">
            </div>
            <button  style="font-family: arial;" class="btn btn-danger" type="submit">Search</button>
        </form>
    </nav>

</body>

</html>